{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="full-slider-wrapper">
    <div id="layerslider" style="width:100%;height:500px;">
        <!-- first slide -->
        <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
            <img  src="{% static 'website/img/slides/slider_2.png' %}" class="ls-bg" alt="Slide background">
        	<h3 class="ls-l" style="top: 45%; left: 35%; font-size: 50px; white-space:nowrap; color:#111; text-transform:uppercase; font-weight:bold " data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;" >Moving can't be more easy!</h3>
            <p class="ls-l" style="top:55%; left:35%; color:#111; font-size:18px; white-space:nowrap;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;" >PREPARING / COLLECTING / MOVING</p>
            <p class="ls-l" style="top:67%; left:35%;" data-ls="durationin:2000;delayin:1300;easingin:easeOutElastic;" ><a href="international_removals.html" class="button_intro">Read more</a></p>
       </div>

    <!-- second slide -->
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
            <img  src="{% static 'website/img/slides/slider_2.png' %}" class="ls-bg" alt="Slide background">
            <h3 class="ls-l" style="top:50%; left:40%; font-size: 50px; white-space:nowrap; color:#111; text-transform:uppercase; font-weight:bold " data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;" >Reassembly service!</h3>
            <p class="ls-l" style="top:58%; left:40%; color:#111; font-size:18px; white-space:nowrap;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;" >"Professional workers will cover it"</p>
            <p class="ls-l" style="top:69%; left:40%;" data-ls="durationin:2000;delayin:1300;easingin:easeOutElastic;"><a href="reassembly.html" class="button_intro">Read more</a></p>
    </div>

     <!-- third slide -->
     <div class="ls-slide" data-ls="slidedelay:5000; transition2d:5;" >
            <img  src="{% static 'website/img/slides/slider_2.png' %}" class="ls-bg" alt="Slide background">
        	<h3 class="ls-l" style="top: 40%; left: 35%; font-size: 50px; white-space:nowrap; color:#111; text-transform:uppercase; font-weight:bold " data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;" >Best moving services</h3>
            <p class="ls-l" style="top:48%; left:35%; color:#111; font-size:18px; white-space:nowrap;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;" >"British Columbia's favorite moving delivery and transport marketplace"</p>
            <p class="ls-l" style="top:60%; left:35%;" data-ls="durationin:2000;delayin:1300;easingin:easeOutElastic;"><a href="domestic_removals.html" class="button_intro">Read more</a></p>
    </div>
    </div>
    </div><!-- End layerslider -->

    <div id="get_quote" class="green">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-9">
                	<h3>Looking for a quality and affordable removals service? </h3>
                </div>
                <div class="col-md-3">
                	<a href="quotation_wizard.html" class="btn_quote">Get a quote</a>
                </div>
            </div><!-- End row -->
        </div>
    </div><!-- End Get quote -->

    <div id="feat_home">
    <div class="container margin_60">
    	<div class="row">
        	<div class="col-md-4 col-sm-4">
            	<div class="box_feat">
            	<img src="{% static 'website/img/icon_home_1.png' %}" alt="CARGOCHAIN.ca" width="71" height="76" data-retina="true">
                    <h3>Fast moving service</h3>
                     <p>
                         We understand the importance of being punctual and ensuring the move is completed on time. You can count on our years of professional experience to ensure we are reliable movers.
                     </p>
                  </div>
            </div>
            <div class="col-md-4 col-sm-4">
            	<div class="box_feat">
            <img src="{% static 'website/img/icon_home_2.png' %}" alt="CARGOCHAIN.ca" width="69" height="75" data-retina="true">
                            <h3>Secure checklist</h3>
                            <p>
                                We gather all the information you should know when moving.In this particular instance, we wanted to provide you with a complete checklist that you can refer to throughout your moving experience.
                            </p>
                    </div>
            </div>
            <div class="col-md-4 col-sm-4">
            <div class="box_feat">
            <img src="{% static 'website/img/icon_home_3.png' %}" alt="CARGOCHAIN.ca" width="75" height="75" data-retina="true">
                            <h3>Packing service</h3>
                            <p>
                                We also provide help in packing services will handle all the organizing, wrapping, and packing of boxes, from your grandmother’s china to your kid’s toys.
                            </p>
                 </div>
            </div>
        </div><!-- End row -->

        <div class="row">
        	<div class="col-md-4 col-sm-4">
            	<div class="box_feat">
                <img src="{% static 'website/img/icon_home_4.png' %}" alt="CARGOCHAIN.ca" width="75" height="75" data-retina="true">
                               	  <h3>Delicate Packing</h3>

                     <p>
                         Shipping products can be tough, but shipping fragile items can be even tougher! We are the best mover for fragile items locally.
                     </p>
                  </div>
            </div>
            <div class="col-md-4 col-sm-4">
            	<div class="box_feat">
            <img src="{% static 'website/img/icon_home_5.png' %}" alt="CARGOCHAIN.ca" width="75" height="75" data-retina="true">
                            <h3>Heavy furniture</h3>
                            <p>
                                Moving heavy furniture is generally viewed as a hassle. However, moving a heavy piece of furniture with Cargo Chain really isn’t that hard because we have years of experience.
                            </p>
                    </div>
            </div>
            <div class="col-md-4 col-sm-4">
            <div class="box_feat">
            <img src="{% static 'website/img/icon_home_6.png' %}" alt="CARGOCHAIN.ca" width="75" height="75" data-retina="true">
                            <h3>Cargo service</h3>
                            <p>
                                Let us do the heavy lifting for you. We can also provide help in international freight delivery for over-sized items.
                            </p>
                 </div>
            </div>
        </div><!-- End row -->

     </div>
    </div>

      <div class="container margin_60">
            <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <a href="domestic_removals.html"><img src="{% static 'website/img/dom_1.JPG' %}" alt="CARGOCHAIN.ca" class="img-responsive border"></a>
                            <h3>Moving</h3>
                            <p>
                                One place for all your moving needs. Quick and easy moves within Kamloops is no problem. No matter how big or small the load, we can meet your business needs.<br><a href="{% static 'website/domestic_removals.html' %}" class="link_normal">Read more</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <a href="reassembly.html"><img src="{% static 'website/img/dom_2.jpg' %}" alt="CARGOCHAIN.ca" class="img-responsive border"></a>
                            <h3>Delivery</h3>
                            <p>
                                Kelowna, Vancouver, Surrey, Prince George and More. We do moves/deliveries within a few 100 KMs of Kamloops.<br><a href="{% static 'website/reassembly.html' %}" class="link_normal">Read more</a>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <a href="special_furnitures.html"><img src="{% static 'website/img/demo_3.JPG' %}" alt="CARGOCHAIN.ca" class="img-responsive border"></a>
                            <h3>Unloading/Loading</h3>
                            <p>
                                 New appliance or furniture needs to be picked up from store and delivered. Let us do the hard work.<br><a href="{% static 'website/fleet.html' %}" class="link_normal">Read more</a>
                            </p>
                        </div>
            </div><!-- End row -->

            <hr>

            <div class="banner">
                <h4>Local Moving <span>from $60</span></h4>
                <p>
                    We save you money moving anything, anywhere. British Columbia's favorite moving delivery and transport marketplace
                </p>
                <a href="quotation_wizard.html" class="btn_1 white">REQUEST A QUOTE</a>
            </div><!-- End banner -->

            <div class="row">
                <div class="col-md-4">
                    <h4>Some words about us</h4>
                    <p>
                        CARGO CHAIN.ca® is the fastest-growing moving company in North America and offers comprehensive home and business relocation and packing services. Our goal is to exceed customers expectations by customizing our moving services to specific needs.
                    </p>

                </div>
                <div class="col-md-4">
                    <h4>Core Values</h4>
                    <p>
                        Delivering Excellence in the Service Processes to enhance and enrich the customer experience.
                    </p>
                    <ul class="list_2">
                        <li><strong>Commitment</strong></li>
                        <li><strong>Passion</strong></li>
                        <li><strong>Integrity</strong></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Years of experience</h4>
                    <p>
                    We move apartments, condominiums, homes, businesses, and everything in between – from very small to very large. Whether moving down the street or across town, or to a new home or business building, we’re here to help with managing your relocation stress.
                    </p>
                    <ul class=" list_ok">
                        <li><strong> Predictable Pricing</strong></li>
                        <li><strong>Caring & Friendly Service</strong></li>
                        <li><strong>Amazing Staff</strong></li>
                    </ul>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->

        <div id="how_to">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <p>
                            <img src="{% static 'website/img/reassembly_icon_1.png' %}" alt="CARGOCHAIN.ca" width="110" height="100" data-retina="true">
                      </p>
                        <h4>1. Preparing</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <p>
                            <img src="{% static 'website/img/reassembly_icon_2.png' %}" alt="CARGOCHAIN.ca" width="74" height="100" data-retina="true">
                      </p>
                        <h4>2. Collecting</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <p>
                            <img src="{% static 'website/img/reassembly_icon_3.png' %}" alt="CARGOCHAIN.ca" width="171" height="100" data-retina="true">
                      </p>
                        <h4>3. Moving</h4>
                    </div>
                </div><!-- End row -->
                <h3 class="text-center">Moving never can't be more easy!</h3>
                <p class="lead text-center">
                    Call us: +1 (250)-319-3268
                </p>
            </div>
        </div><!-- End how_to -->

        <div class="bg_content magnific">
            <div>
                <h3>The smartest way to move, from booking to delivery.</h3>
                <!-- Upkar, Please add youtube video here -->
                <a href="#" class="video"><i class="icon-play-circled2-1"></i></a>
            </div>
        </div><!-- End bg_content -->

{% endblock %}

