{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section id="sub_header">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8">
                    	<div class="main_title">
                            <h1>Loading/Unloading</h1>
                            <p>Move Anything to Anywhere, WE GOT YOUR BACK.</p>
                        </div>
					</div>
					<div class="col-md-4 col-sm-4" id="position">
						<ul >
							<li><a href="{% url 'index' %}">Home</a></li>
							<li>Active page</li>
						</ul>
					</div>
				</div>
			</div>
		</section><!-- End section -->
        
        <div class="container margin_60">
        	<div class="row">
                
                <div class="col-md-9">
               	    	  <img src="{% static 'website/img/loading&unloading_images/loading_image_1.jpg' %}" alt="CARGOCHAIN.ca" class="img-responsive border">
                            <h3>Moving globally</h3>
                          <p>Ad qui consulatu scripserit comprehensam. Eum <strong>purto epicurei cotidieque</strong> at, ius luptatum invidunt no, vim at sint pertinacia repudiandae. Ad cum dicant laboramus delicatissimi, ex has nonumes explicari prodesset, brute tincidunt conclusionemque no has. Sit ullum latine ei. Ius id adhuc iriure torquatos. Justo prompta senserit eos cu, omnesque posidonium liberavisse pri in. Malorum fabulas elaboraret mea in, vel ut harum tacimates posidonium.</p>
                                              
                    <div class="row">
                    	<div class="col-md-6">
               	    	  <img src="{% static 'website/img/loading&unloading_images/loading_image_2.jpg' %}" alt="CARGOCHAIN.ca" class="img-responsive border">
                            <h3>Complete transport solutions</h3>
                          <p>Ad sed apeirian senserit gloriatur, eu iusto ubique impetus quo. Sea no essent cotidieque reformidans, sea an <strong>persius moderatius</strong> comprehensam, at nam tamquam alterum definiebas. Nibh facilisi mei eu, essent virtute ius id. Ne ullum consequat sit, dolorum deserunt expetendis no eam.</p>
                        </div>
                        <div class="col-md-6">
               	    	  <img src="{% static 'website/img/loading&unloading_images/loading_image_3.jpg' %}" alt="CARGOCHAIN.ca" class="img-responsive border">
                            <h3>Documentation management</h3>
                          <p>Ad sed apeirian senserit gloriatur, eu iusto ubique impetus quo. Sea no <strong>essent cotidieque</strong> reformidans, sea an persius moderatius comprehensam, at nam tamquam alterum definiebas. Nibh facilisi mei eu, essent virtute ius id. Ne ullum consequat sit, dolorum deserunt expetendis no eam.</p>
                        </div>
                    </div><!-- End row -->
            
                    <hr>
                    
                    <div class="row">
                    	<div class="col-md-6">
                        	 <ul class="feat">
                            	<li>
                                	<img src="{% static 'website/img/icon_domestic_1.png' %}" alt="CARGOCHAIN.ca" width="50" height="54" data-retina="true">
                               	  <h4>Fast moving service</h4><p>
                         We understand the importance of being punctual and ensuring the move is completed on time. You can count on our years of professional experience to ensure we are reliable movers.
                     </p></li>
                                <li>
                               	  <img src="{% static 'website/img/icon_domestic_2.png' %}" alt="CARGOCHAIN.ca" width="50" height="56" data-retina="true">
                               	  <h4>Secure checklist</h4>
                                <p>
                                We gather all the information you should know when moving.In this particular instance, we wanted to provide you with a complete checklist that you can refer to throughout your moving experience.
                            </p></li>
                                 <li>
                                	<img src="{% static 'website/img/icon_domestic_3.png' %}" alt="CARGOCHAIN.ca" width="50" height="50" data-retina="true">
                               	   <h4>Packing service</h4>
                                 <p>
                                We also provide help in packing services will handle all the organizing, wrapping, and packing of boxes, from your grandmother’s china to your kid’s toys.
                            </p></li>
                                <li>
                                	<img src="{% static 'website/img/icon_domestic_4.png' %}" alt="CARGOCHAIN.ca" width="50" height="50" data-retina="true">
                               	  <h4>Delicate Packing service</h4>
                                    <p>Nibh facilisi mei eu, essent virtute ius id. Ne ullum consequat sit, dolorum deserunt expetendis no eam.</p>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="feat">
                            	<li>
                                	<img src="{% static 'website/img/icon_domestic_5.png' %}" alt="CARGOCHAIN.ca" width="50" height="50" data-retina="true">
                               	  <h4>Heavy furniture</h4>
                                <p>
                                Moving heavy furniture is generally viewed as a hassle. However, moving a heavy piece of furniture with Cargo Chain really isn’t that hard because we have years of experience.
                            </p></li>
                                <li>
                                	<img src="{% static 'website/img/icon_domestic_6.png' %}" alt="CARGOCHAIN.ca" width="50" height="50" data-retina="true">
                               	  <h4>Cargo service</h4>
                                <p>
                                Let us do the heavy lifting for you. We can also provide help in international freight delivery for over-sized items.
                            </p></li>
                                <li>
                                	<img src="{% static 'website/img/icon_international_2.png' %}" alt="CARGOCHAIN.ca" width="50" height="50" data-retina="true">
                               	  <h4>Transport</h4>
                                    <p>Nibh facilisi mei eu, essent virtute ius id. Ne ullum consequat sit, dolorum deserunt expetendis no eam.</p>
                                </li>
                              <li>
                                	<img src="{% static 'website/img/icon_international_3.png' %}" alt="CARGOCHAIN.ca" width="50" height="50" data-retina="true">
                               	  <h4>Dedicate Help center</h4>
                                <p>
                         Shipping products can be tough, but shipping fragile items can be even tougher! We are the best mover for fragile items locally.
                     </p></li>
                            </ul>
                        </div>
                    </div><!-- End row -->

                </div><!-- End col-md-9 -->
                
                <div class="col-md-3">
                    <div class="box_style_1">
                        <ul id="cat_nav">
                            <li><a href="{% url 'domestic_removals' %}">Moving</a></li>
                            <li><a href="{% url 'special_furnitures' %}">Delivery</a></li>
                            <li><a href="{% url 'contacts' %}">Contact Us</a></li>
                        </ul>
                        <hr>
                        <h5>Did you find what you need?</h5>
                        <p class="nopadding">
                            Ad sed apeirian senserit gloriatur, eu iusto ubique impetus quo.<br>
                            <a href="{% url 'contacts' %}" class="link_normal">Contact us</a>
                        </p>
                    </div><!-- End Box_style_1 -->
                    
                    <div class="quote_banner">
                        <a href="{% url 'quotation_wizard' %}">Need a quotation?</a>
                    </div>
                    
                    <div class="box_style_2">
                        <h4>Removal tips</h4>
                        <h5><i class="icon_toolbox_alt"></i> Preparing</h5>
                        <ul>
                            <li>Defrost your refrigerator in time for moving day.</li>
                            <li>It’s useful to keep a notebook at hand to write down reminders.</li>
                            <li>Get in touch with utility companies to verify service start dates at your new home.</li>
                        </ul>
                        <h5><i class="icon_tag_alt"></i> Packing and labeling</h5>
                        <ul>
                            <li>Label boxes on all sides so you can see what it contains in a stack without having to move everything around.</li>
                            <li>Clearly mark boxes containing fragile goods.</li>
                            <li>Pack a suitcase with clothes and toiletries like you’re going on a trip for a few days.</li>
                        </ul>
                    </div>
                </div><!-- End col-md-3 -->
                
            </div><!-- End row -->
        </div><!-- End container -->

{% endblock %}