{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section id="sub_header">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8">
                    	<div class="main_title">
                            <h1>Ask for a Quotation</h1>
                            <p>Get started with a Free phone or Online Quote</p>
                        </div>
					</div>
					<div class="col-md-4 col-sm-4" id="position">
						<ul >
							<li><a href="index.html">Home</a></li>
							<li>Active page</li>
						</ul>
					</div>
				</div>
			</div>
		</section><!-- End section -->
        
        <div class="container margin_60">
        	<div class="row">
                <div class="col-md-9">
                	  <form id="custom" action="{% url 'quotation_wizard' %}" method="POST" class="add_bottom_30">
                          {% csrf_token %}
                          {% if firstname_quote %}
                    <center>
                        <h2>Thanks {{firstname_quote}}!</h2>
                          <p> We have received your email and will respond shortly ... </p>
                    </center>
                    {% else %}
                        <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details. Delete this comment before to publish. -->
                        <fieldset title="Personal info">
                          <legend>Please! Enter your information</legend>
                          <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>First name</label>
                                        <input type="text" class="form-control" id="firstname_quote" name="firstname_quote">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Last name</label>
                                        <input type="text" class="form-control" id="lastname_quote" name="lastname_quote">
                                    </div>
                                </div>
                            </div><!-- End row -->
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" id="email_quote" name="email_quote">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Telephone</label>
                                        <input type="text" class="form-control" id="phone_quote" name="phone_quote">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Moving from</label>
                                        <input type="text" id="street_pickup" name="street_pickup" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Moving to</label>
                                        <input type="text" id="street_drop" name="street_drop" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Please select move type</label>
                                        <select class="form-control" name="elevator_pickup" id="elevator_pickup">
                                            <option value="Apartment" >Apartment</option>
                                            <option value="House">House</option>
                                            <option value="Business">Business</option>
                                        </select>
                                    </div>
                                </div>
                            </div><!-- End row -->
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Describe your property type as much as possible:rooms, list of furnitures, volumes, etc...</label>
                                        <textarea name="message_general" id="message_general" style="height:100px" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div><!-- End row -->
                        </fieldset><!-- End Step one -->
                        
                        <input type="submit" class="finish" value="Submit!" />
                      </form>
             
                </div><!-- End col-md-9 -->
                {% endif %}
                <div class="col-md-3">
                	<div class="box_style_2">
                    	<h4>Need Help?</h4>
                        <h5><i class="icon_globe"></i> By Phone</h5>
                            <ul>
                            	 <li><strong>Help center</strong><br><a href="tel://+1(250)-319-3268">+1 (250)-319-3268</a></li>
                                <li><strong>Office Hours</strong><br><small>Monday to Saturday 8am - 5pm</small></li>
                                </ul>
                             <h5><i class="icon_mail_alt"></i> By Email</h5>
                            <ul>
                                <li><strong>General Info</strong><br><a href="mailto:info@cargochain.ca">info@cargochain.ca</a></li>
                                <li><strong>Book a move now!</strong><p class="nopadding">It's never to late. Book Now....!<br><a href="mailto:jass.grewal@cargochain.ca">jass.grewal@cargochain.ca</a></p></li>
                            </ul>
                    </div>
                    
                </div><!-- End col-md-3 -->

            </div><!-- End row -->
        </div><!-- End container -->

{% endblock %}